body
{
    background-image: url(illustrations/Under\ construction-bro.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/** each section style starts here**/
#head_section
{
    height:100vh;
    width:100%;
    background-image:url(illustrations/Aboutuspage-cuate.png);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
#nav
{

    font-size: x-small;
    width: 100%;
    border:solid 1px red;
    height:fit-content;
}
#li 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:none;
}
  
#li li {
    float: left;
  }
  
#li li a {
    display: block;
    color: rgb(0, 132, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
#li li a:hover {
    background-color: #111;
  }