body
{
    background-image: url(illustrations/Under\ construction-bro.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/** each section style starts here**/
#head_section/*beginning of head_section*/
{
    height:100vh;
    width:100%;
    background-image:url(illustrations/Aboutuspage-cuate.png);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
#nav
{

    font-size: small;
    font-weight:bolder;
    width: 100%;
    border:solid 1px red;
    height:fit-content;
    background-color:none;
}
#li 
{
    list-style-type: none;
    overflow: hidden;
    background-color:none;
    width: inherit;
    border: solid 1px blue;
    padding-left: 0;
    position:static;
}
  
#li li {
    float: right;
    margin-right:30px;
  }
  
#li li a 
{
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
}
 
#li li a:hover {border-bottom:2px solid orange;} /* end of head_section */

#story_section
{
    border:1px solid green;
}
#story_section h1
{
    font-size: large;
    background-color: blue;

}