/*medias queries*/
@media screen and (max-width: 700px)
{
    .toutlecontenu
    {
        width:max-content;
    }
    .toutlecontenu .profilepic img
    {
        width: 150px;
        height: 200px;
        float: right;
        display:flex;
    }
    .toutlecontenu .aproposdemoi
    {
        width: fit-content;
        font-size: medium;
        height:fit-content;
    }
    .toutlecontenu .aproposdemoi .about
    {
        width: 300px;
        font-size:small;

    }
}
/*                        partie a propos
*******************************************************************/

#apropos /***section a propos***/
{
/*dimensions*/
    border: none;
/*paramettres du texte*/
    color: white;

/*arriere plan*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #2B2B2B;
    background-image: url(images/darkwaves.jpg);

}

.toutlecontenu/***tout le contenu***/
{
/*dimensions*/
    border: 1px solid blue;
    width: 90%;
/*positionnement*/
    position: relative;

/*paramettres du texte*/
    color: white;
}

.profilepic/*profile pic*/
{
/*dimensions*/
    border: solid 1px yellow;
    border-radius: 100px;
    width: fit-content;
    height:fit-content;

/*positiionnement*/
    position: relative;
    float: left;
    padding: 0;
    margin-top: 68px;
    margin-left: 190px;
}
.profilepic img
{

    padding-top: 2px;
    width: 200px;
    border-radius: 100px;
}

.aproposdemoi
{
    border: solid 1px red;
    position: relative;
    width: fit-content;
    height: 90%;
    margin-left: 40%;
    padding: 20px 20px 20px 20px;

}


.about
{
    border: solid 1px blue;
    width: 600px;
    position: relative;
    height: fit-content;
    margin-left: 0%;
    margin-top: 50px;
    text-align: justify;
    font-family: cursive;
    color:rgb(183, 0, 255);
}
.about:hover{color:rgb(255, 174, 0);}
.about h2{ color: white; margin-left: 0px; text-decoration: none; }

.informations/*informations*/
{
/*dimensions*/
    border:solid 1px blueviolet;
    width: 400px;

/*paramettres du texte*/

/*positionnement*/
    position: relative;
    margin-top:40px ;
}

.adresse/*adresse*/
{
/*dimensions*/
    width: fit-content;
    border:solid 1px orangered;
/*paramettres du texte*/
    color: white;
    text-decoration: none;
    font-family: cursive;
    font-weight: bold;
    font-size: large;
/*positionnement*/
    position: relative;
    margin-left: 0px;


}

.coordonnées
{
    width: fit-content;
    border:solid 1px orange;
    position: relative;
    font-family: cursive;
    color:rgb(183, 0, 255);
}
.coordonnées:hover{color:rgb(255, 174, 0);}

.localisation/*localisation*/
{
    /*dimensions*/
        border: solid 1px green;
    /*texte*/
        font: inherit;
    /*positionnement*/
        position: relative;
}

/********************************** Partie join me et social ********************************/
.joinme
{
/*dimensions*/
    border: solid 1px white;
    width: fit-content;
/*paramettres du texte*/
    font-family: cursive;
    font-weight: bold;
    font-size: large;
    /*positionnement*/
    position: relative;
    left: 40%;

}
.social
{
    border:none;
    display: inline-block;
    /*paramettres du texte*/
    color:rgb(183, 0, 255);
    text-decoration: none;
    font-family: cursive;
    font-weight: bold;
    font-size: large; 
    margin: 0px 0px 0px 0px;
    padding: 0 0 0 0;
}
a{border: none; font-size: medium; color:rgb(183, 0, 255); font-variant: inherit; text-decoration:none;}
a:hover{color:rgb(255, 174, 0); border-bottom: 1px solid rgb(255, 174, 0);}
.joinme li{display: inline-block; padding: 0 20px 0 20px; list-style-type: none; border:none;}