body
{
    background-color: rgba(0, 102, 255, 0.822);
    font-family: cursive ;
    color: rgb(6, 21, 224);
    background-image: url(images/cosmos.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

section
{
    width: 90%;
    min-height:min-content;
    height:100vh;
    max-height: fit-content;
    text-align: center;
    background-repeat: no-repeat;
    background-color:none;
    margin-left: auto;
    margin-right: auto;
    border:none;
    margin-top: 30px;
    display:flex;
    flex-wrap: wrap;
    box-shadow:0px 0px 10px rgb(0, 151, 252);
    overflow:auto;
}
.logos
{
    width: 200px;
    height: 200PX;
    border:none;
    border-radius:50%;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    overflow: hidden;
    background-color:white;
}
img
{
    width: 150px;;
    height: 110px;
    padding-top: 50px;
    position:static;
}
.division
{
    background-color: none;
    color: rgb(255, 157, 10);
    border:none;
    text-align:justify;
    height:max-content;
    font-size: large;
    width:75%;
    height: 200px;
    position: relative;
    float: right;
    margin-top: 1%;
    margin-left: 70px;
    overflow: auto;
    font-family:'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold ;
}
.titre
{
    color: rgba(10, 145, 255, 0.911);
    text-decoration: underline;
    padding-left: 40%;
}
span{color: blueviolet;}
hr{width:90%;}

/*logo creator illustration*/
.ilc
{
    box-shadow:0 0 10px rgb(0, 151, 252);
    margin:auto;
    border-radius: 50%;
    min-width: 200px;
    min-height:200px;
    position: relative;
    align-content:center;
    display: inline-block;
}


/*web development illustration*/
.iwd
{
    box-shadow:0 0 10px rgb(0, 151, 252);
    margin:auto;
    border-radius: 50%;
    width: 350px;
    height:350px;
    position: relative;
    align-content:center;
    display: inline-block;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: auto;
}

#iwd1
{
    
    font-size: smaller;
    text-align:justify;
}

/*devices repaire illustration*/
.idr
{
    box-shadow:0 0 10px rgb(0, 151, 252);
    margin:auto;
    border-radius: 50%;
    min-width: 200px;
    min-height:200px;
    position: relative;
    align-content:center;
    display: inline-block;

}
