@media screen and (max-width:1300px)
{
    body
    {
        font-size:small;
    }

    nav ul .bouttons {margin-left: 20px;}
    nav #lid .bouttons{margin-right: 0px;}

    section .description
    {
        font-size: 17px;
        width: 70%; 
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    } 

    section .description .titre{margin-right:50%; width: max-content;}

}

@media screen and (max-width:1100px)
{
    body
    {
        font-size:small;
    }

    nav ul .bouttons {margin-left: 20px;}
    nav #lid .bouttons{margin-right: 0px;}

    section .description
    {
        font-size: 17px;
        width: 73%; 
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    } 

    section .description .titre{margin-right:50%; width: max-content;}

}

@media screen and (max-width:950px)
{
    body
    {
        font-size:small;
    }

    nav ul .bouttons {margin-left: 20px;}
    nav #lid .bouttons{margin-right: 0px;}

    section .description
    {
        font-size: 14px;
        width: 60%; 
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    } 

    section .description .titre{margin-right:50%; width: max-content;}

}

@media screen and (max-width:800px)
{
    body
    {
        font-size:small;
    }

    nav ul .bouttons {margin-left: 0px;}
    nav #lid .bouttons{margin-right: 0px;}
    section .logos{border:none;}
    section .description
    {
        font-size: 10px;
        width: 50%; 
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        height:fit-content;
        border: none;
        text-align: center;
    } 



    section .description .titre{margin-right:60%; width: max-content;}

}

@media screen and (max-width:700px)
{
    body
    {
        font-size:small;
    }

    nav{justify-content: center; padding: auto;}
    nav #li{margin-right: 15%;}

    nav #lid{display:none;}

    section .logos{display:none;}

    section .description
    {
        font-size: 14px;
        width: 100%; 
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        height:fit-content;
        border: none;
        text-align: center;
    } 

    section #iwd5{display:none;}
    section #ilc5{display:none;}
    section #idr5{display:none;}

    section .description .titre{margin-right:50%; width: max-content;}
}

@media screen and (max-width:600px)
{
    body
    {
        font-size:x-small;
    }

    nav{justify-content: center; padding: auto;}
    nav #li{margin-right: 15%; font-size: 12px; width:fit-content;}

    nav #lid{display:none;}

    section .logos{display:none;}

    section .description
    {
        font-size: 12px;
        width: 100%; 
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        height:fit-content;
        border: none;
        text-align: center;
    } 

    section #iwd5{display:none;}
    section #ilc5{display:none;}
    section #idr5{display:none;}

    section .description .titre{margin-right:50%; width: max-content;}
}

/*Main style of page starts here*/
body /*body part*/
{
    background-color:rgb(255, 255, 255);
    background-image:url(images/ordinateurr.jpg);
    font-family: cursive ;
    color: rgb(6, 21, 224);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

nav/*navigation bar style*/
{

    position: sticky;
    top: 0;
    width: 100%;
    border: none;
    background-color:rgba(0, 0, 0, 0.911);
    z-index: 1;
    height:50px;
    margin: auto;
    padding-right: 0px;
    margin-bottom: 0px;
    overflow:hidden;
    box-shadow:0px 0px 10px rgb(0,0,0);
}

.bouttons/*buttons on nav bar*/
{
    display: block;
    padding:5px 10px 5px 10px;
    text-decoration: none;
    color:inherit;
    font-family: cursive;
    margin-left:30px;
    color: white;
}

a/*links style*/
{
    color:rgb(0, 151, 252); text-decoration: none;
}

a:hover/*links hover*/
{
    color: rgb(255, 174, 0);
}

#lid/*links into this page*/
{
    list-style-type: none;
    border: none;
    display: flex;
    justify-content:center;
    align-content: space-between;
    position: relative;
    float: left;
    border: none;
    margin:auto;
    padding-left:0px;
}

#lid li/*links into this page*/
{    
    border: none;
    margin-left: 0px;
    margin-right: 30px
}

#li/*links for all the site*/
{
    list-style-type: none;
    border: none;
    display: flex;
    justify-content: center;
    align-content: space-between;
    margin: auto;
    margin-right:0px;
    position: relative;
    float: right;

}

section/*style for all sections*/
{
    width: 90%;
    min-height:min-content;
    height:100vh;
    max-height: max-content;
    text-align: center;
    background-repeat: no-repeat;
    background-color:rgba(0, 0, 0, 0.548);
    margin-left: auto;
    margin-right: auto;
    border:none;
    border-radius:10px;
    margin-top:50px;
    display:flex;
    flex-wrap: wrap;
    box-shadow:0px 0px 10px rgb(0,0,0);
    overflow:auto;
}

.logos/*style for all logos*/
{
    width: 200px;
    height: 200PX;
    border-top: solid 3px  rgb(0, 151, 252);
    border-left:solid 3px  rgb(0, 151, 252);
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    overflow: hidden;
    background-color:none;
}

img/*style for all logo image*/
{
    width: 150px;
    height: 110px;
    padding-top: 50px;
    position:static;
}

.description/*style for all the sections descriptions*/
{
    background-color: none;
    color: rgb(255, 157, 10);
    border-right:solid 3px  rgb(0, 151, 252);
    border-bottom:solid 3px  rgb(0, 151, 252);
    text-align:justify;
    height:max-content;
    font-size: large;
    width:75%;
    height: 200px;
    position: relative;
    float: right;
    margin-top: 1%;
    margin-left: 70px;
    overflow: auto;
    font-family:'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold ;
}

.titre/*title on descriptions*/
{
    color: rgb(0, 151, 252);
    text-decoration: underline;
    padding-left: 40%;
}

span/*all span style*/
{
    color: blueviolet;
}

.sectionsdivisor/*style for the section divisors*/
{
    width:90%; height:1px; margin:auto;
}

.ilc/*logo creator illustration*/
{
    box-shadow:0 0 10px rgb(0, 151, 252);
    margin:auto;
    border-radius: 10%;
    width: 200px;
    height:195px;
    position: relative;
    align-content:center;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
#ilc1{background-image:url(images/darksky.jpg);}
#ilc2{background-image:url(images/bodybb.jpg);}
#ilc3{background-image:url(images/clearsky.jpg);}
#ilc4{background-image:url(images/mountainpic.jpg);}
#ilc5{background-image:url(images/rockbeach.jpg);}

.iwd/*web development illustration*/
{
    box-shadow:0 0 10px rgb(0, 151, 252);
    margin:auto;
    border-radius: 10%;
    width: 200px;
    height:195px;
    position: relative;
    align-content:center;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
#iwd1{background-image:url(images/ordinateur.jpg);}
#iwd2{background-image:url(images/mqueriespic.jpg);}
#iwd3{background-image:url(images/htmlcodeinver.jpg);}
#iwd4{background-image:url(images/codelines.jpg);}
#iwd5{background-image:url(images/htmlcode.jpg);}

.idr/*devices repaire illustration*/
{
    box-shadow:0 0 10px rgb(0, 151, 252);
    margin:auto;
    border-radius: 10%;
    width: 200px;
    height:195px;
    position: relative;
    align-content:center;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center; 
}
#idr1{background-image:url(images/lunnettes.jpg);}
#idr2{background-image:url(images/aurore.jpg);}
#idr3{background-image:url(images/rockbeach.jpg);}
#idr4{background-image:url(images/pencilonhandboard.jpg);}
#idr5{background-image:url(images/pagerose.png);}

.txtOnIll
{
    border-radius: inherit;
    font-size: 10px;
    text-align:center;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.493);
    height: 195px;
    width:50%;
    margin: auto;
    float:right;
    position:static;
    
}