body
{
    
    background-color: rgba(5, 5, 5, 0.911);
    color: white;
    background-image: url(images/bodybb.jpg);
    background-repeat: no-repeat;
    font-family: cursive;

}
#self-intro
{
    border: solid 1px blue;
    height: 100%vh;
    position: relative;
    align-content: center;
}
#nom
{
    border: solid 1px red;
    font-size: 150px;
    text-align: center;

}
#description
{
    border: solid 1px yellow;
    text-align: center;
    font-size: 40px;
    color: rgb(31, 168, 150);
    
}
#description span
{
    color: rgb(38, 219, 114);
    font-weight: bolder;
}
#li
{
    padding-left: 0px;
    display: inline-flex;
    list-style-type: none;
    border: none;
    position:fixed;
    z-index: 1;
    margin-left: 23%;

}
button
{
    display: block;
    margin-left: 50px;
    padding:5px 10px 5px 10px;
    text-decoration: none;
    background-color:rgba(0, 0, 0, 0.438);
    color:white;
    border: solid 1px white;
    border-radius: 7px;
    font-family: cursive;
}