body
{
    
    background-color: rgba(5, 5, 5, 0.911);
    color: white;
    background-image: url(images/bodybb.jpg);
    background-repeat: no-repeat;
    font-family: cursive;
    background-size: cover;

}
nav
{
    border: 1px solid blue;
    position: sticky;
    top:0;
    z-index: 1;
}

#self-intro
{
    border: solid 1px yellow;
    height: 550px;
    min-height: 300px;
    max-height: 100vh;
    position: relative;
    align-content: center;
}

#nom
{
    border: none;
    font-size: larger;
    text-align: center;
}
#nom1
{
    border: 1px solid rgb(255, 255, 255);
}
#nom2
{
    border:1px solid rgb(255, 255, 255);
}

#description
{
    border: 1px solid black;
    text-align: center;
    font-size:small;
    color: rgb(219, 219, 219);
    position: relative;
    top:0;
    padding:auto;
    
}

#description span
{
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

#li
{
    list-style-type: none;
    border:none;
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
}

.bouttons
{
    display: block;
    padding:5px 10px 5px 10px;
    text-decoration: none;
    color:inherit;
    font-family: cursive;
    margin-left: 10px
    

}

a:hover {
  color: rgb(6, 151, 30);
  border-bottom: 1px solid white ;
}