@media screen and (max-width: 700px) 
{    
    body 
    {
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    nav
    {
      top:0;
      z-index: 1;
      display: flex;
      width:fit-content;
      border: solid 1px blue;
      justify-content: center;
    }
    #li
    {
      height: auto;
      position: relative;
      left:0;
      padding: left 0;
      font-size: x-small;
      width: max-content;
    }
    #li button a 
    {
      text-align: center;
      float: none;
    }

    #self-intro #description
    {
        font-family: cursive;
        font-size: small;
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
    #self-intro #nom
    {
        font-size: 80px;
    }
    #self-intro hr{width:50%;}

}

@media screen and (max-width: 400px) 
{
    body 
    {
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    #li button a 
    {
      text-align: center;
      float: none;
    }
}/*fin des media queries*/


body
{
    
    background-color: rgb(0, 0, 0);
    color: white;
    background-image: url(images/darkwaves.jpg);
    background-repeat: no-repeat;
    font-family: cursive;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

nav/*navigation bar style starts here*/
{
    position: static;
    bottom: 0;
    width: 100%;
    border: none;
    z-index: 1;
    height:fit-content;
    width: 95%;
    margin: auto;

}

#li
{
    list-style-type: none;
    border: none;
    display: flex;
    justify-content: center;
    align-content: space-between;
    margin:auto;
    position: static;
    margin: auto;
}

.bouttons
{
    display: block;
    padding:5px 10px 5px 10px;
    text-decoration: none;
    color:inherit;
    font-family: cursive;
    margin-left: 10px;
    color: white;
}
a{color:white; text-decoration: none;}
a:hover {color: rgb(255, 174, 0);}/*navigation bar style ends here*/

#self-intro/*self-intro style starts here*/
{
    border: none;
    height: inherit;
    position: relative;
    align-content: center;
    overflow:none;
}

#nom/*name solar lights style*/
{
    border:none;
    font-size: 120px;
    text-align: center;
    width:fit-content;
    margin:200px 0 0 23%;
    padding:auto;
    font-weight:initial;
    margin-left: auto;
    margin-right: auto;
}
#nom1
{
    border: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 204, 255);
}
#nom2
{
    border:none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 5px;
    border-left: solid 10px white;
    font-weight: 1px;
    color: rgb(255, 157, 0);

}

#description
{
    border: none;
    text-align: center;
    font-size:medium;
    font-family:'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    position: relative;
    top:0;
    padding:auto;
    width:63%;
    margin-left: 20%;
}

#description span
{
    color: inherit;
    font-weight: bolder;
}

hr{width:500px; color: rgb(13, 198, 255);}
